* {
    margin: 0;
    border: 0;
    padding: 0;
}


html, body {
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
}

.mbta-live {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

circle {
    transition: linear 10s;
    cursor: pointer;
}